body{
    width: 1024px;
    margin: 0 auto;
}

header{
    background-color: rgb(255, 255, 255);
    height: 70px;
}

.logo{
    vertical-align: middle;
}
.logo2{
    padding-top: 5px;
    padding-left: 10px;
}
h1{
    display: inline-block;
    vertical-align: middle;
}

main{
    background-color: #dcdcdce7;
    margin-top: 0;
    padding: 20px 0;
}

.contenitore{
    padding-top: 30px;
}

.contenitore1 div{
    display: inline-block;
}

.contenitore1{
    width: 500px;
    line-height: 5px;
    text-align: left;
    margin-left: 24%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px 3px 0 0 ;
}

.button1{
    padding-left: 40px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.task{
    font-size: 11px;
    background-color: rgb(0, 204, 255);
    color: white;
    height: 25px;
    width: 70px;
    border-radius: 3px;
}

.section{
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: grey;
    height: 25px;
    width: 90px;
    border-radius: 3px;
    border: 1px solid lightgray;   
}

.contenitore2{
    width: 500px;
    text-align: left;
    padding-left: 40px;
    margin-left: 24%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
    border-radius: 0 0 3px 3px ;
}

.contenitore2 button{
    font-size: 9px;
    color: white;
    height: 15px;
    width: 50px;
    border-radius: 12px;
}

button{
    border: none;
    margin-left: 5px;
}

h3{
    padding-bottom: 5px;
}

.h41{
    margin-top: 0;
    padding-top: 15px;
    margin: 0;
}

p{
    padding-bottom: 10px;
}

.button2{
    display: inline-block;
    margin: 0px;
}

.check{
    font-size: 15px;
    color: rgb(39, 182, 39);
    border: 1px solid rgb(39, 182, 39);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
}
.notcheck{
    font-size: 15px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white
}
.sct:last-child{
    padding-bottom: 30px;
}
.editorial{
    background-color: rgb(0, 204, 255);
}

.Q1{
    background-color: rgb(132, 0, 255);    
}
.recruiting{
    background-color: cadetblue;
}
.mobile{
    background-color: orange;
}
.web{
    background-color: violet;
}
.sales{
    background-color: rgb(90, 128, 3);
}


